# This file defines the individuals or teams that own certain files or directories.
# GitHub uses this to automatically assign reviewers for pull requests.

# Everything (*) is owned by @rafiimafif
* @rafiimafif
